


//
//
//___________________________



.track
  @extend.box
  display flex
  flex-direction column

  @media small { flex-direction: column}
  @media medium { flex-direction: row}
  @media large { flex-direction: row}
  @media xlarge { flex-direction: row}


.track--image
  width 25%
  @media small { width: 100%}

  img
    width 100%
    padding 5px
    float left

.track--info
  flex 1 1
  //width: 100%
  .track--title
    font-family: roboto
    margin-bottom 3px
    @media small { font-size: 7vw}
    @media medium { font-size: 6vw}
    @media xlarge { font-size: 3vw}

  .track--artist
    font-family work-sans
    @media small { font-size: 5vw}
    @media medium { font-size: 3vw}

  .track--time
    font-family: roboto

.track--btns
  display: flex
  align-items: flex-end
  justify-content: flex-end

.btn-track
  margin-bottom: 3px
  background-color: #CF4222;
  color white
  font-family: roboto;
  font-size: 20px;

.btn-track:focus
  color white
  outline: none

  //@media small { width: 50%}




.artistLink
  width: 100%
  color white
  font-family: roboto
  font-size: 3vw
  background-color: color4

  @media medium { font-size: 2vw}
  @media large { font-size: 2vw}



.track--meta
  flex 5 1

.track--link
  flex 0 1 10%
  align-self: flex-end
  justify-content: flex-end







//
//
//___________________________


.current
  @extend.box
  font-size: 8vw
  font-family: roboto

  @media medium { font-size: 3vw}
  @media large { font-size: 3vw}
  @media xlarge { font-size: 3vw}

.past
  @extend.box
  font-size: 8vw
  font-family: roboto

  @media medium { font-size: 3vw}
  @media large { font-size: 4vw}
  @media xlarge { font-size: 3vw}



.clearfix::before,
.clearfix::after {
  flex-basis: 0;
  order: 1;
}
