meta(name="Sweet Basil Music")
meta(name="viewport" content="width=device-width")

meta(name='author', content=config.author)
meta(name='description', content=config.description)
meta(name='keywords', content=config.keywords)
meta(name='viewport', content='width=device-width, initial-scale=1')

//- Styles
link(rel='stylesheet', href='css/bootstrap.min.css')

//- Custom styles
link(rel='stylesheet', href='css/style.css')
